 @import ‘ñbootstrap/scss/Bootstrap.scss’;

.bigCounter{
text-align: center; center;
background: black;
}
bigCouunter div{
display: inline-block;
fontsize: 60px;
line-height: 60;
background: #101010;
color: white;
padding: 10px;
margin: 3px;
}

